# Editor configurations
.vs/
.vscode/
.idea/
.DS_Store/

# Qt build directory & files
*.qmake.stash
*.pro.user
Makefile*
build/
.qt/
moc_*
qrc_*
ui_*
*.vcxproj
*.vcxproj.filters
*.stamp
*.stamp.depend
*.cmake
*.log
*.vcxproj.FileListAbsolute.txt
*.qrc

# Java compiled sources
.mvn/
**/target/
*.class
*.jar

# Python build and cache directories
**/*/build
**/*/dist
__pycache__/
.pytest_cache/

# Qt build directory
__Builds/

# Driver packages
third-party/
ftd2xx.lib
*.zip

# Allow exceptions for cmake files we maintain
!**/cmake/*
