# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Version=1.0
Type=Application
Name=FTDI Check
Comment=FTDI Check Application
Exec=FTDICheck
Icon=ftdi-check
Terminal=false
Categories=Development;
