# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Version=1.0
Type=Application
Name=TAC Configuration Editor
Comment=TAC Configuration Editor Application
Exec=TACConfigEditor
Icon=tac-config-editor
Terminal=false
Categories=Development;
