# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Version=1.0
Type=Application
Name=Test Automation Controller
Comment=Test Automation Controller Application
Exec=TAC
Icon=tac
Terminal=false
Categories=Development;
