name: CMake Build

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-latest]
        qt_version: ['6.8.3', '6.9.2']
        build_type: [Debug, Release]
        qwt_version: ['6.3.0']

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip wget libxkbcommon-x11-0 x11-common libxcb-xinerama0-dev

    - name: Install aqtinstall
      run: pip install aqtinstall

    - name: Install Qt ${{ matrix.qt_version }} on ${{ matrix.os }}
      run: |
        # Install base Qt first
        aqt install-qt linux desktop ${{ matrix.qt_version }} gcc_64
        # Then install required modules
        aqt install-qt linux desktop ${{ matrix.qt_version }} gcc_64 -m qtmultimedia qtserialport
        echo "QT_ROOT_DIR=$HOME/Qt/${{ matrix.qt_version }}/gcc_64" >> $GITHUB_ENV
        echo "$HOME/Qt/${{ matrix.qt_version }}/gcc_64/bin" >> $GITHUB_PATH

    - name: Cache Qt installation on Linux
      uses: actions/cache@v4
      with:
        path: ${{ env.QT_ROOT_DIR }}
        key: ${{ runner.os }}-qt-${{ matrix.qt_version }}

    - name: Download and build Qwt ${{ matrix.qwt_version }} from source
      run: |
        wget https://sourceforge.net/projects/qwt/files/qwt/${{ matrix.qwt_version }}/qwt-${{ matrix.qwt_version }}.tar.bz2
        tar xjf qwt-${{ matrix.qwt_version }}.tar.bz2
        cd qwt-${{ matrix.qwt_version }}
        $(which qmake) qwt.pro
        make -j$(nproc)
        sudo make install

    - name: Configure CMake for ${{ matrix.build_type }}
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build with ${{ matrix.build_type }}
      run: cmake --build build --config ${{ matrix.build_type }}

  build-windows:
    runs-on: windows-2022
    strategy:
      matrix:
        qt_version: ['6.8.3', '6.9.2']
        build_type: [Debug, Release]
        qwt_version: ['6.3.0']

    steps:
    - uses: actions/checkout@v4

    - name: Install Python dependencies
      shell: pwsh
      run: pip install aqtinstall

    - name: Install Qt ${{ matrix.qt_version }} for MSVC
      shell: pwsh
      run: |
        # Install Qt with required modules
        aqt install-qt windows desktop ${{ matrix.qt_version }} win64_msvc2022_64 -m qtserialport qtmultimedia

        # Set environment variables
        $qtRoot = "$HOME\Qt\${{ matrix.qt_version }}\msvc2022_64"
        echo "QT_ROOT_DIR=$qtRoot" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "$qtRoot\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Cache Qt installation on Windows
      uses: actions/cache@v4
      with:
        path: ${{ env.QT_ROOT_DIR }}
        key: ${{ runner.os }}-qt-${{ matrix.qt_version }}

    - name: Download and build Qwt ${{ matrix.qwt_version }} from source
      shell: pwsh
      run: |
        choco install wget 7zip -y
        wget https://sourceforge.net/projects/qwt/files/qwt/${{ matrix.qwt_version }}/qwt-${{ matrix.qwt_version }}.zip -OutFile $env:TEMP\qwt.zip
        7z x $env:TEMP\qwt.zip -o"$env:TEMP\qwt"
        cd $env:TEMP\qwt\qwt-${{ matrix.qwt_version }}
        qmake qwt.pro
        msbuild qwt.sln /p:Configuration=Release
        mkdir C:\qwt
        xcopy /s /i lib C:\qwt\lib
        xcopy /s /i include C:\qwt\include

    - name: Configure CMake for ${{ matrix.build_type }}
      shell: pwsh
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_PREFIX_PATH="C:\qwt"

    - name: Build with ${{ matrix.build_type }}
      shell: pwsh
      run: cmake --build build --config ${{ matrix.build_type }}