# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Version=1.0
Type=Application
Name=Device Catalog
Comment=Device Catalog Application
Exec=DeviceCatalog
Icon=device-catalog
Terminal=false
Categories=Development;
